@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
}


.card-box {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 4px 6px rgba(20, 20, 20, 0.1), -3px -3px 6px rgba(10, 10, 10, 0.1);
    margin-top: 40px;

}

.card-box3 {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 3px 4px 6px rgba(20, 20, 20, 0.1), -3px -3px 6px rgba(10, 10, 10, 0.1);
    background-color: #3F87F5;
}

.card-box3,
.card-box3 h3,
.card-box3 p,
.card-box3 ul>li {
    color: #ffffff;
}

.top-hot {
    top: -15px;
    right: 10px;
}

.plus li {
    background: transparent;
}

.plus a {
    background-color: white;
}

.plus a:hover {
    background-color: #a69e94;
}

.copyright {
    text-decoration: none;
    color: #a69e94;
}

.footer {
    background-color: #000000;
}